!
! Settings for rxvt terminal emulator
!
! Remove the scrollbar
URxvt.scrollBar: false
! Scroll to bottom when a non-special key pressed.
URxvt*scrollTtyKeypress:  true
! Do not scroll to bottom when tty receives output
URxvt*scrollTtyOutput:  false
! Use visual bell on receipt of a bell character.
URxvt*visualBell:  true
! Use the specified colour as the windows background colour [default White].
URxvt*background:  Black
! Use the specified colour as the windows foreground colour [default Black].
URxvt*foreground:  White
! Use the specified colour to disp1ay underlined characters when the foreground colour is the default. Makes it easier to notice, rxvt-unicode authors choice as well.
URxvt*colorUL:  yellow
! If set, use the specified colour as the colour for the underline itself. If unset, use the foreground colour
URxvt*underlineColor:  yellow

! Font and color scheme from a stackexchange question (emerged ttf-bitstream-vera for this)
URxvt*font:     xft:Bitstream Vera Sans Mono:size=9:antialias=true
URxvt*boldFont: xft:bitstream vera sans mono:bold:size=9:antialias=true

URxvt*color0:  #000000 // black
URxvt*color1:  #B40000 // red
URxvt*color2:  #00AA00 // green
URxvt*color3:  #AAAA00 // yellow
URxvt*color4:  #5555AA // blue
URxvt*color5:  #AA00AA // magenta
URxvt*color6:  #00AAAA // cyan
URxvt*color7:  #AAAAAA // white
URxvt*color8:  #555555 // black (now and below: bright)
URxvt*color9:  #FF0000 // red
URxvt*color10: #00FF00 // green
URxvt*color11: #FFFF00 // yellow
URxvt*color12: #6464FF // blue
URxvt*color13: #FF00FF // magenta
URxvt*color14: #00FFFF // cyan
URxvt*color15: #FFFFFF // white

! uxrvt externsions
URxvt*perl-ext: default,matcher,clipboard,url-select
! Mark URLs and make them clickable
URxvt.url-select.launcher: xdg-open
URxvt.matcher.button: 1
! Make URLs selectable by keyboard (Alt+u)
URxvt.keysym.M-u: perl:url-select:select_next
! Copy and paste using Ctrl+Alt+c/v
!URxvt.keysym.M-c: perl:clipboard:copy
!URxvt.keysym.M-v: perl:clipboard:paste
